<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../template/head')%>
        <title>OpenLib</title>
        <style>
            
        </style>
</head>
<body>
    <%-include('../template/navbar')%>
        <div class="styleText d-flex justify-content-center align-items-center flex-column bd-highlight"
            style="background-image: url('image/books1.jpg'); background-repeat: no-repeat; height: 500px;">
            <div style="color: #ecf0f1; ">
                <div class="p-2 bd-highlight">
                    <h1>OpenLib Local Bookstores.</h1>
                </div>
                <div class="p-2 bd-highlight">Shop Online with Bookshop.</div>
                <div>
                    <form>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Book's name, author..."
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <br>
        <h2 style="text-align: center;" class="h2"> Books</h2>
        <br>
        <div class="container bg-light ">
            <div class="row">
                <%for(bookCate of bookCategories){%>
                    <%let numBook = 0;%>
                    <h2 class="mb-4"><%=bookCate%></h2>
                    <% for (books of booksData) { %>
                         <%if(books.categories==bookCate){%>
                            <%if(numBook==4){break;}%>
                    <div class="col-3 pb-2">
                        <div class="card h-100 ">
                            <img src="<%=books.imageUrl%>" class="card-img-top" height="400px" width="100%" alt="...">
                            <div class="card-body" ">
                                     <h5 class=" card-title fw-bold">
                                        <%=books.title%>
                                    </h5>
                                    <p class="card-text author">
                                        <%=books.author%>
                                    </p>
                            </div>
                            <a href="/book-details/<%=books._id%>" style="background-color: #ffeaa7;">
                                <div class="card-footer d-flex justify-content-center">
                                    Details
                                </div>
                            </a>
                        </div>
                    </div>
                        <%numBook++}%>
                    <% } %>
                    <div style="text-align: end;">
                        <div >
                            <a href="/book-categories/<%=bookCate%>"><button class="btn btn-success">See more</button></a>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>
        <%-include('../template/footer') %>
</body>

</html>