<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../template/head')%>
    <title><%=locals.categories%> </title>
</head>
<body>
    <%-include('../template/navbar')%>
    <%-include('../template/searchbar')%>
    <div class="container bg-light ">
        <div class="row">
        <%if(bookData){%>
        <% for ( books of bookData) { %>
            <div class="col-3 pb-2">
                <div class="card h-100 ">
                    <a href="/book-details/<%=books._id%>">
                        <img src="/<%=books.imageUrl%>" class="card-img-top" height="350px" width="100%" alt="...">
                    </a>
                        <div class="card-body">
                             <h5 class=" card-title fw-bold">
                                <%=books.title%>
                            </h5>
                            <p class="card-text author">
                                <%=books.author%>
                            </p>
                    </div>
                    <div class="card-footer d-flex"  style="background-color: #ffeaa7;">
                        <h6><strong><%=books.bookPriceBorrow%> USD</strong></h6>
                        <a href="/book-details/<%=books._id%>" class="ms-auto">
                            <strong>Details</strong>
                        </a>
                    </div>
                </div>
            </div>
         <%}%>
         <%}else{%>
        <%}%>
        </div>
        <div style="text-align: center;">
            <%while(locals.firstPage <= locals.lastPage ){%>
                <a class="btn btn-danger" href="<%=url.replace('page='+ currentPage ,'page='+ firstPage )%>"><%=firstPage%></a>
            <%firstPage++;}%> 
        </div>
        <br>
    </div>
</body>
<%-include('../template/footer')%>
</html>