<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('../template/head')%>
    <title>Borrow book</title>
</head>

<body onload="openModal()">
    <% if(locals.success) {  %>
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrow book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Borrow book success
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>   
  <%} %>
  <%-include('../template/navbar')%>
  <div class="container mb-5">
    <div class="row">
        <h1 ><%=bookData.title%></h1>
        <div class="col-4">
            <img class="img-thumbnail" src="/<%=bookData.imageUrl%>" alt="<%=bookData.imageUrl%>">
        </div>
        <div class="col-8">
           <p><span class="spantext">Author: </span><%= bookData.author%> (author)</p>
               <p><span class="spantext">Rating: </span><%= rating%> <i style="color: #ff9900;" class="fas fa-star"></i></p>
           <p><span class="spantext">Publish Date: </span><%= moment(bookData.published_date).format('DD/MM/YYYY');%></p>
           <h6>Deposit: <%= bookData.bookPriceBorrow%> USD</h6>
          </div>
    </div>
        <form method="POST" action="/book-borrow">
            <% if(locals.error){%>
                <p class="text-danger"> <%=error%></p>
                <%}%>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Date borrow</label>
                <input type="date" id="dateBorrow" name="dateBorrow" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <%if(locals.accountDataNav.authority.authority=="lecturers"){%>
                <input type="hidden" value="0" name="dateReturn" >
            <%}else{%>
              <div class="mb-3">
                <label for="dateReturn" class="form-label">Return in:</label>
                <select class="form-control" name="dateReturn">
                  <option value="86400000">1 days</option>
                  <option value="172800000">2 days</option>
                  <option value="259200000">3 days</option>
                  <option value="345600000">4 days</option>
                  <option value="432000000">5 days</option>
                  <option value="518400000">6 days</option>
                  <option value="604800000">7 days</option>
                </select>
            </select>
            </div>
            <%}%>
            <input type="hidden" name="bookId" value="<%=bookData._id%>">
        <button class="btn btn-outline-primary  float-end">Submit</button>
        </form>
</div>
    <%-include('../template/footer')%>
</body>
<script>
    function openModal() {
   $(document).ready(function () {
            $("#myModal").modal('show');
        });
    }
    $(document).ready(function () {
        var today = new Date().toISOString().split('T')[0];
        var dateBorrow = document.getElementById("dateBorrow");
        dateBorrow.setAttribute('min', today);
        dateBorrow.valueAsDate = new Date();
        
    });
   </script> 
</html>