<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('../template/head')%>
    <title>Update account</title>
</head>
<body>
  <%-include('../template/navbar')%>
    <div class="container-fluid mb-3">
      <div class="row">
        <%-include('../template/navbarAdmin')%>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2">Account update</h1>
            </div>
            <form method="POST" action="/admin/update-account/<%=accountData._id%>">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" value="<%=accountData.email%>">
              </div>
              <div class="mb-3">
                <label class="form-label">Firstname</label>
                <input type="text" class="form-control" name="firstname"  value="<%=accountData.firstname%>">
              </div>
              <div class="mb-3">
                <label class="form-label">Lastname</label>
                <input type="text" class="form-control" name="lastname"  value="<%=accountData.lastname%>">
              </div>
              <div class="mb-3">
                <label class="form-label">Birthday</label>
                <input type="date" class="form-control" name="birthday"  value="<%=date%>">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone number</label>
                <input type="tel" pattern="[0-9]*" class="form-control" name="phoneNum" value="<%=accountData.phoneNum%>">
              </div>
              <input type="checkbox" class="mb-3" onclick="newPass(this)"> New password</input>
              <div class="mb-3" id="passInput" style="display: none;">
                <label for="exampleInputEmail1" class="form-label">Password</label>
                <input type="password"  class="form-control" name="password" >
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Authority</label>
                <select class="form-control" name="authority">
                  <%for(auth of authList){%>
                    <option value="<%=auth._id%>"><%=auth.authority%></option>
                  <%}%>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enabled</label>
                <select class="form-control" name="enabled">
                    <option value="1">True</option>
                    <option value="0">False</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </main>
      </div>
    </div>
    <%-include('../template/footer')%>
</body>
<script>
  function newPass(checkbox){
    if(checkbox.checked == true){
      document.getElementById("passInput").style.display="block";
    }
    else{
      document.getElementById("passInput").style.display="none";
    }
  }
</script>
</html>