<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../template/head')%>
        <title>list books</title>
</head>

<body>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
    <%-include('../template/navbar')%>
        <div class="container-fluid mb-5">
            <div class="row">
                <%-include('../template/navbarAdmin')%>
                    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
                        <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                            <h1 class="h2">List books</h1>

                        </div>
                        <table class="table table-hover table-striped align-middle table-responsive-sm text-center"
                            id="myTable">
                            <thead class="table-light">
                                <tr>
                                    <th>Photo Thumbs</th>
                                    <th>Name</th>
                                    <th>Author</th>
                                    <th>Categories</th>
                                    <th>Published</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(book of bookData) { %>
                                    <tr>
                                        <td><img src="/<%=book.imageUrl%>" alt="image"
                                                style="height: 100px; width: auto;"></td>
                                        <td>
                                            <%=book.title %>
                                        </td>
                                        <td>
                                            <%=book.author%>
                                        </td>
                                        <td>
                                            <%=book.categories%>
                                        </td>
                                        <td>
                                            <%=moment(book.published_date).format('DD/MM/YYYY')%>
                                        </td>
                                        <td>
                                            <a href="/admin/update-book/<%=book._id%>"><i class="fas fa-edit fa-lg"></i></a>
                                            <a href="/admin/delete-book/<%=book._id%>" class="link-danger"><i class="fas fa-trash-alt fa-lg"></i></a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </main>
            </div>
        </div>
        <%-include('../template/footer')%>
</body>

</html>